
    {{> head}}


   
   {{> navbar }}
    <div class="row">
        <div class="col-8">
                <h1>Pagina de About</h1>
                <p>
                    Lorem dskfdsk fjsdfkl sfjsdkl fjdsklf jsdkldfjsdklg jdsl gdflgj dn jldg d ndfjkg hsdfjk gbgkj dsbg jkdfshg dfskjgh dsjfkgh dfkjgh dfkjghdfskjghdsfkjghdsfk  hg dfkg hdfskg hdsfgk hdsfg ksdfgh dsfg hdfsgk usdfhg kudsufgh dfskugh sdfkugj hdfgk dhg kdsgh dkgh dfjg hsdfkg hdfsgkdsh kdf 
                </p>
        </div>
        <div class="col-4">
                <img src="assets/img/geeks.jpeg" class="img-thumbnail">
        </div>

     </div>
   
   {{> footer}}